
@{
    ViewBag.Title = "GlobalModule";
}

<h2>Global Module</h2>
<link href="~/content/toastr.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<script src="~/Scripts/Api/globalModule.js"></script>