
@{
    ViewBag.Title = "InternalModule";
}

<h2>InternalModule</h2>

<link href="~/content/toastr.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<script src="~/Scripts/Api/internalModule.js"></script>

