
@{
    ViewBag.Title = "ModuleDependencies";
}

<h2>ModuleDependencies</h2>

<link href="~/content/toastr.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<script src="~/Scripts/Api/dataService.js"></script>
<script src="~/Scripts/Api/moduledependencies.js"></script>
<script src="~/Scripts/Api/bootstrapper.js"></script>