
@{
    ViewBag.Title = "SeparatingInternalModule";
}

<h2>SeparatingInternalModule</h2>

<link href="~/content/toastr.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<script src="~/Scripts/Api/utils.js"></script>
<script src="~/Scripts/Api/shapes.js"></script>

